In [116]:
#Basic Imports

In [7]:
import numpy as numpy
import pandas as pandas
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
from wordcloud import WordCloud 


import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\osama\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\osama\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [9]:
import os
print(os.getcwd())

c:\Users\osama\OneDrive\Desktop\DVC mlops\Learnyard-dvc-pipeline\experiments

In [4]:
import os
print("Current directory:", os.getcwd())

Current directory: c:\Users\osama\OneDrive\Desktop\DVC mlops\Learnyard-dvc-pipeline\experiments

In [11]:
# Read the CSV file
df = pd.read_csv("spam.csv")

# Display the first few rows of the DataFrame
df.head()

NameError: name 'pd' is not defined

In [5]:

import pandas as pd

df = pd.read_csv("spam.csv")
print(df.head())

     v1                                                 v2 Unnamed: 2  \
0   ham  Go until jurong point, crazy.. Available only ...        NaN
1   ham                      Ok lar... Joking wif u oni...        NaN
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3   ham  U dun say so early hor... U c already then say...        NaN
4   ham  Nah I don't think he goes to usf, he lives aro...        NaN

  Unnamed: 3 Unnamed: 4
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

In [10]:
df.drop(columns = ['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace = True)
df.head()

NameError: name 'df' is not defined

In [7]:
df.rename(columns = {'v1':'target','v2':'text'}, inplace = True)
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [124]:
#Data Preprocessing

In [8]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['target'] = encoder.fit_transform(df['target'])

df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [9]:
df.duplicated().sum()

403

In [10]:
len(df)

5572

# Feature Engineering

In [11]:
from nltk.stem.porter import PorterStemmer

import string

ps = PorterStemmer()

In [4]:
 
# # Call the function
# print(transform_text("Hello there! How are you?"))

In [ ]:
                           # Return token list

In [5]:
# Lowercase transformation and text preprocessing function
def transform_text(text):
    # Transform the text to lowercase
    text = text.lower()
    
    # Tokenization using NLTK
    text = nltk.word_tokenize(text)
    
    # Removing special characters
    y = []
    for i in text:
        if i.isalnum():
            y.append(i)
            
    # Removing stop words and punctuation
    text = y[:]
    y.clear()
    
    # Loop through the tokens and remove stopwords and punctuation
    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)
        
    # Stemming using Porter Stemmer
    text = y[:]
    y.clear()
    for i in text:
        y.append(ps.stem(i))
    
    # Join the processed tokens back into a single string
    return " ".join(y)

In [6]:
transform_text('Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...')

NameError: name 'nltk' is not defined